mixin activity({href='/mock-address/change-me',alt='Activity', img} = {})
  - 
    let src;
    try {
      src=require(`../../img/${img}`);
    } 
    catch(event) {
      src= false
    }
    
  a.activity&attributes(attributes)(href=href)
    .activity__preview-image
      if src
        img.activity__img(
          src= src,
          alt=alt)
    .activity__preview-text
      block