mixin input({type = 'text', name, pattern, placeholder, required, tabindex} = {})
  .input
      input.input__field.js-input__field(
        type= type
        name= name
        placeholder= placeholder
        pattern= pattern
        required= required
        tabindex= tabindex
      )