mixin button({ text = 'Button', color, size, background, submit, href, width, pjax = false } = {}) 

  -  let classes = ''
  -  classes += color ? `button_color_${color}` : ''
  -  classes += size ? ` button_size_${size}` : ''
  -  classes += background ? ` button_bg_${background}` : ''
  -  classes += width ? ` button_width_${width}` : ``

  if href
    a.button.js-button(href=href class=classes data-pjax=pjax ? true : false)= text
      .button__ripple.js-button__ripple
  else
    button.button.js-button(class=classes type=submit ? 'submit' : false)= text
      .button__ripple.js-button__ripple