mixin select({ name, multiple, size, tabindex, require, options = {}, placeholder = 'Choose An Option' } = {})
  .select.js-select
    select.select__field.js-select__field(
      name= name
      multiple= multiple
      size= size
      require= require
      tabindex= tabindex
      data-placeholder= placeholder
    )
      option.select__option(
         selected= 'selected'
      )
      each name, value  in options
        option.select__option(
          value= value
        )= name
