mixin social({ href, icon } = {})
  .social
    if href
      a.social__icon.social__icon_link(data-icon=icon href=href)
        i.fa(class=`fa-${icon}`)
    else
      span.social__icon(data-icon=icon)
        i.fa(class=`fa-${icon}`)